body{
    font-family: 'Poppins', sans-serif;
}

header{
    width: 1280px;
    height: 84px;
    margin: 0 auto;

    display: flex;
}

.header-image{
    padding-top: 28px;
    flex:1;
}

.header-logo{
    height: 28px;
}

.nav{
    display: flex;
    gap: 0px 32px;
    align-items: center;
        
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #394149;
}

a.nav{
    text-decoration: none;
}

.calltoaction{
    width: 173px;
    height: 52px;
    
    background-color:#F58A071A;
    border-radius: 31px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #F58A07;
    border: #F58A07;

    margin-left: 15px;
    cursor: pointer;
}

.calltoaction:hover{
    border: solid 1px;
    border-color: #F58A07;
}

.cover{
    height: 703px;
    background-color: #DCEAF5;
    /* padding-top: 85px; */
    /* display: flex; */
}

.home1{
    height: 703px;
    width: 1280px;
    margin: 0 auto;
    background-color: #DCEAF5;
    
    display: flex;
}

.home1-heading1{
    width: 630px;
    margin-top: 117px;
}

h1{
    font-size: 64px;
    color: #1D3444;
    line-height: 72px;
    margin: 0;
}

.home1-title-descr{
    font-weight: 500;
    color: #5B5B5B;
    font-size: 18px;
    line-height: 30px;
    width: 95%;
    margin-top: 12px;
}

.home1-title-button{
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.home1-button{
    background-color: #F58A07;
    padding: 18px 32px;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 27px;
    border: 0;
    /* margin-right: 40px; */
    font-weight: 600;
    cursor: pointer;
}

.home1-button:hover{
    border: solid 1px #F58A07;
    background-color: #FFFFFF;
    color: #F58A07;
}

.home1-button-text{
    color: #1D3444;
    font-size: 16px;
    margin-left: 40px;
}

.home1-title-more{
    color: #39414980;
    size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 56px;
}

.home1-title-logo{
    display: flex;
    margin-top: 18px;
    gap:45px;   
}

.home1-heading2{
    position: relative;
}

.home1-heading2-img{
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.home2{
    height: 932px;
    width: 1280px;
    margin: 0 auto;
}

.home2-title{
    width: 735px;
    margin-top: 96px;
    color: #1D3444;   
}

h2{
    font-size: 48px;
    line-height: 56px;
    margin: 0;
}

.home2-title-descr{
    width: 735px;
    margin-top: 27px;
    color: #5B5B5B;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}

.home2-side{
    display: flex;
    margin-top: 64px;
    gap: 40px;
}

.home2-side1-img{
    border-radius: 20px;
    width: 400px;
    height: 242px;
}

.home2-side1-title{
    color: #0D1317;
    font-size: 24px;
    margin-top: 33px;
    font-weight: 500;
}

.home2-side1-descr{
    font-size: 16px;
    line-height: 28px;
    width: 400px;
    margin-top: 17px;
    color: #1D3444;
    font-weight: 500;
}

.a-tag-learn{
    color: #F58A07;
    font-size: 16px;
    margin-top: 24px;
    font-weight: 500;
    text-decoration: none;
    display: block;
}



.a-tag-learn::after{
    content: "\2192";
    margin-left: 8px;
}

.home3-cover{
    height: 665px;
    background-color: #DCEAF5;
}

.home3{
    height: 665px;
    width: 1280px;
    margin: 0 auto;
}

.home3-title{
    display: flex;
    gap: 40px;
}

.home3-title-title{
    width: 620px;
    color: #0D1317;
    font-size: 36px;
    line-height: 44px;
    margin-top: 96px;
}

.home3-title-descr{
    width: 620px;
    color: #1D3444;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 96px;
}

.home3-side{
    display: flex;
    margin-top: 64px;
    gap:40px;
}

.home3-side1{
    width: 400px;
    height: 277px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.home3-side1-img{
    padding-top: 48px;
    padding-left: 40px;
}

.home3-side1-title{
    color: #0D1317;
    font-size: 24px;
    padding-top: 32px;
    padding-left: 40px;
}

.home3-side1-descr{
    color: #5B5B5B;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    padding-top: 16px;
    padding-left: 40px;

}

.home4{
    height: 862px;
    width: 1280px;
    margin: 0 auto;
    
    display: flex;
    gap:43px;
}

.home4-side1{
    width: 600px;
    margin-top: 166px;

    /* flex: 1; */
}

.home4-side1-title{
    color: #0D1317;
}

.home4-side1-descr{
    color: #0D1317;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-top: 32px;
}

.home4-more{
    display: flex;
    margin-top: 48px;
    gap: 20px;
}

.home4-more1-number{
    color: #F58A07;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
}

.home4-more1-title{
    color: #0D1317;
    font-size: 24px;
    margin-top: 16px;
}

.home4-more1-descr{
    color: #5B5B5B;
    font-size: 16px;
    line-height: 28px;
    margin-top: 16px;
}

.home4-side2{
    margin-top: 97px;
    /* position: relative; */
}

.home4-side2-img{
    border-radius: 20px;
}

.home4-side2-img{
    width: 640px;
    height: 670px;
    background-image: url(./images/about-image.png);
    background-size: cover;
    background-position: center center;
    /* position: relative; */
}

.home4-box{
    height: 670px;
    width: 153px;
    background-color: #F58A07;
    border-radius: 20px 0px 0px 20px;
    mix-blend-mode: multiply;
    /* mix-blend-mode: multiply;
    position: absolute;
    left: 0;
    top: 0; */
}

.home5{
    height: 682px;
    width: 1274.39;
    margin: 0 auto;
    background-color: #DCEAF5;
    border-radius: 20px;

    display: flex;
    position: relative;
}

.home5-button{
    margin-top: 48px;
    margin-left: 48px;
}

.home5-button1{
    padding: 8px 24px 8px 24px;
    font-size: 16px;
    color: #0632554D;
    border: solid 1px;
    border-color: #0632554D;
    margin-right: 24px;
    border-radius: 31px;
    cursor: pointer;
}

.home5-button1:hover{
    color: #F58A07;
    background-color: #FFFFFF;
    border: none;
}

.home5-title{
    color: #0D1317;
    margin-left: 48px;
    margin-top: 80px;
    width: 572px;
}

.home5-descr{
    color: #5B5B5B;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-left: 48px;
    margin-top: 25px;
    width: 510px;
}

.home5-more{
    color: #F58A07;
    font-size: 16px;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 48px;
    text-decoration: none;
    display: block;
}

.home5-more::after{
    content: "\2192";
    margin-left: 8px;
}

.home5-side2{
    background-image: url(./images/team.png);
    background-position: center center;
    background-size: cover;
    width: 472px;
    height: 466px;
    margin-top: 168px;
    margin-left: 140px;
    border-radius: 20px;
    /* position: relative; */
}

.home5-box{
    background-color: #F58A07;
    width: 120px;
    height: 466px;
    mix-blend-mode: multiply;
    border-radius: 20px 0px 0px 20px;
}

.home5-ribbon{
    top: -16px;
    right: -17px;
    width: 179px;
    height: 178px;
    position: absolute;   
}

.home6{
    height: 518px;
    margin-top: 128px;
    background-color: #F58A07;
    display: flex;
    /* justify-content: center; */

}

.home6-side1{
    background-image: url(./images/Image-vacancy.png);
    background-size: cover;
    background-position: center center;
    flex: 1;
}

.home6-side2{
    background-color: #F58A07;
    flex: 1;
}

.home6-side2-title{
    margin-top: 128px;
    margin-left: 128px;
    width: 532px;
    color: #FFFFFF;
}

.home6-button{
    margin-top: 40px;
    margin-left: 128px;
    padding: 18px 32px 18px 32px;
    color: #F58A07;
    background-color: #FFFFFF;
    border: none;
    border-radius: 31px;
    font-size: 16px;
    cursor: pointer;
}

.home6-button:hover{
    background-color: #F58A07;
    color: #FFFFFF;
    border: #FFFFFF 1px solid;
}

.home7{
    height: 757px;
    width: 1280px;
    margin: 0 auto;

    display: flex;
}

.home7-side1{
    width: 640px;
}

.home7-side1-title{
    margin-top: 206px;
    width: 550px;
    text-transform: capitalize;
    color: #0D1317;
}

.home7-side1-descr{
    color: #5B5B5B;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-top: 24px;
    width: 550px;
}

.home7-side1-more{
    display: flex;
    margin-top: 40px;
}

.home7-more-img{
    width: 80px;
    height: 80px;
}

.home7-person{
    margin-left: 24px;
}

.home7-person-name{
    color: #063255;
    font-weight: 500;
    font-size: 24px;
    line-height: 45px;
}

.home7-person-work{
    color: #F58A07;
    font-size: 18px;
    font-weight: 500;
}

.home7-side2{
    margin-top: 128px;
    margin-left: 20px;
    width: 640px;
}

.home7-side2-img{
    background-image: url(./images/video-image.png);
    background-size: cover;
    background-position: center center ;
    border-radius: 20px;
    width: 620px;
    height: 501px;
}

.home7-side2-button{
    display: flex;
    align-items: center;

    color: #FFFFFF;
    font-size: 18px;

    position: relative;
    left: 40px;
    bottom: -410px;

    gap: 17px;
}

.circle{
    width: 51px;
    height: 51px;
    border-radius: 26.5px;
    background-color: #FFFFFF;
    border: none;
    background-image: url(./images/play-icon.svg);
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.circle:hover{
    border: #F58A07 1px solid;
}

.blog-cover{
    height: 819px;
    background-color: #DCEAF5;
}

.blog{
    height: 819px;
    background-color: #DCEAF5;
    width: 1280px;
    margin: 0 auto;

    /* display: flex; */
}

.blog-title{
    color: #0D1317;
    text-transform: capitalize;
    padding-top: 96px;
}

.blog-side{
    display: flex;
    gap: 40px;
    margin-top: 64px;

    flex-wrap: wrap;
}

.blog-side1{
    border-radius: 20px;
    width: 400px;
    height: 507px;
    background-color: #FFFFFF;
}

.blog-side1-img1{
    height: 230px;
    border-radius: 20px 20px 0px 0px;
    background-image: url(./images/post1.png);
    background-size: cover;
}

.blog-side1-img2{
    height: 230px;
    border-radius: 20px 20px 0px 0px;
    background-image: url(./images/post-2.png);
    background-size: cover;
}

.blog-side1-img3{
    height: 230px;
    border-radius: 20px 20px 0px 0px;
    background-image: url(./images/post-3.png);
    background-size: cover;
}

.blog-side1-title{
    color: #0D1317;
    font-size: 24px;
    line-height: 36px;
    padding: 32px 32px 16px 32px;
    letter-spacing: -0.03em;
}

.blog-side1-descr{
    color: #5B5B5B;
    font-weight: 500;
    line-height: 28px;
    font-size: 16px;
    padding: 0px 32px 0px 32px;
}

.blog-side1-more{
    padding-left: 32px;
}

.footer-cover{
    background-color: #063255;
    height: 463px;

    position: relative;
}

.footer{
    width: 1280px;
    background-color: #063255;
    margin: 0 auto;
    display: flex;
    gap: 110px;
    padding-top: 80px;
}

.footer-logo{

}

.footer-side1-title{
    color: #FFFFFF;
    font-size: 36px;
    line-height: 44px;
    margin-top: 32px;
    letter-spacing: -0.03em;
    width: 351px;
}

.footer-social{
    margin-top: 32px;
}

.social-logo{
    margin-right: 20px;
}

.footer-copy{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    position:absolute;
    bottom: 80px;
}

.footer-title{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 24px;
}

.footer-text{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    padding-bottom: 16px;
}

.footer-text:hover{
    color:#F58A07;
}

input[type=text], select{
    width: 342px;
    border-radius: 31px;
    background-color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 32px;
    color: #9C9C9C;
    width: 100%;
    /* margin-top: 16px; */
}

.footer-button{
    background-color: #F58A07;
    padding: 18px 32px 18px 32px;
    color: #FFFFFF;
    font-size: 18px;
    /* margin-top: 16px; */
    border-radius: 31px;
    border: none;
    cursor: pointer;
}

.footer-button:hover{
    color:#F58A07;
    background-color: #FFFFFF;
    border: #F58A07 1px solid;
}

.privacy{
    display: flex;
    position:absolute;
    bottom: 80px;
    padding-left: 55px;
    gap: 32px;

    /* width: 100%; */
}

.footer-box1{
    background-color: #F58A07;
    height: 144px;
    width: 53px;
    position: absolute;
    bottom: 0px;
    border-radius: 0px 20px 0px 0px;
}

.footer-box2{
    background-color: #F58A07;
    height: 287px;
    width: 53px;
    position: absolute;
    top: 38px;
    right: 0px;
    border-radius: 20px 0px 0px 20px;
}

.footer-side4{
    flex: 1;
}

.cover-white{
    height: 550px;
    margin-bottom: 128px;
}

.cover-white:first-of-type{
    height: 650px;
    margin-top: 92px;
    margin-bottom: 90px;
}

.serv-header{
    width: 1280px;
    margin: 0 auto;

    display: flex;
}

.serv-header-title{
    margin-top: 132px;
    width: 620px;
    letter-spacing: -0.03em;
    color: #1D3444;
}

.serv-header-descr{
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-top: 24px;
    margin-bottom: 32px;
    width: 510px;
    font-weight: 500;
}

/* .home1-button:nth-of-type(2){
    margin-top: 32px;
} */

.serv-header-side2{
    width: 620px;
    margin-left: 40px;
    /* position: relative; */
}

.serv-header-img{
    position: relative;
    height: 650px;
    width: 616px;
    background-image: url(./images/services1.png);
    background-position: center center;
    background-size: cover;
}

.serv-header-box{
    width: 180px;
    height: 650px;
    background-color: #F58A07;
    border-radius: 20px 0px 0px 20px;
    border: none;
    mix-blend-mode: multiply;

    position: absolute;
    left: 0px;
    top: 0px;
}

.serv-template1{
    width: 1280px;
    margin: 0 auto;

    display: flex;
}


.serv-template2{
    width: 1280px;
    margin: 0 auto;

    display: flex;
}

.serv-template1-side1{
    width: 620px;
    height: 550px;
    background-image: url(./images/services2.png);
    background-size: cover;
    background-position: center center;
    border-radius: 20px;

    position: relative;

    flex: 1;
}

.serv-template1-side2{
    flex: 1;
    width: 583px;
    margin-left: 77px;
}

.serv-template1-box{
    width: 95px;
    height: 97px;
    background-color: #F58A07;
    border-radius: 20px;
    border: none;
    mix-blend-mode: multiply;

    position: absolute;
    top: 128px;
    left: -48px;
}

/* .serv-template1-side1:nth-of-type(2){
    background-image: url(./images/services4.png);
}

.serv-template1-box:nth-of-type(2){
    top: 217px;
} */

.serv-template1-title{
    margin-top: 128px;
    color: #0D1317;
}

.serv-template1-descr{
    margin-top: 24px;
    color: #5B5B5B;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}

.serv-template1-ul{
    margin-top: 24px;
    color: #5B5B5B;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500px;
}

.serv-template2-side1{
    width: 580px;
    margin-right: 80px;

    flex: 1;
}

.serve-template2-side2{
    flex: 1;
    width: 620px;
    height: 550px;
    background-image: url(./images/services3.png);
    border-radius: 20px;
    border: none;
    background-position: center center;
    background-size: cover;

    position: relative;
}

.serve-template2-box{
    width: 95px;
    height: 97px;
    background-color: #F58A07;
    border: none;
    border-radius: 20px;
    mix-blend-mode: multiply;

    position: absolute;
    right: -48px;
    top: 272px;
}

.serv-template2-title{
    margin-top: 157px;
    color: #0D1317;
}

.serv-template2-descr{
    margin-top: 24px;
    color: #5B5B5B;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;   
}

.cover-white:nth-of-type(6){
    margin-bottom: 38px;
}

.career-header-img{
    position: relative;
    height: 650px;
    width: 616px;
    background-image: url(./images/careers1.png);
    background-position: center center;
    background-size: cover;
}

.career-header-title{
    margin-top: 85px;
    width: 620px;
    letter-spacing: -0.03em;
    color: #1D3444;
}

.career-cover{
    height: 522px;
    margin-bottom: 128px;
    margin-top: 128px;
}

.career-open{
    width: 1280px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;
}

.open-box{
    width: 400px;
    height: 181px;
    background-color:#C1E4FF4D;
    border: none;
    border-radius: 20px;
    /* padding: 32px 40px 32px 40px; */
    position: relative;
}

.open-position{
    font-weight: 500;
    font-size: 24px;
    /* line-height: 30px; */
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-top: 32px;
    margin-left: 40px;
}

.open-location{
    font-weight: 500;
    font-size: 18px;
    /* line-height: 28px; */
    color: #394149;
    margin-top: 8px;
    margin-left: 40px;
    /* margin-bottom: 32px; */
}

.apply-now{
    margin-left: 40px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    /* line-height:19px; */
    color: #F58A07;
    position: absolute;
    bottom: 32px;
}

.apply-now:hover{
    text-decoration: underline #F58A07 solid;
}

.career-title{
    color: #0D1317;
    letter-spacing: -0.03em;

    width: 1280px;
    margin: 0 auto 64px;
}

.blog-header-cover{
    height: 749px;
    background-color: #DCEAF5;
}

.blog-header{
    margin: 0 auto;
    width: 1280px;

    display: flex;
    gap: 40px;
    /* align-items: center; */
}

.blog-header-side1{
    width: 620px;
    padding-top: 161px;
}

.blog-writer{
    display: flex;
    align-items: center;
    /* margin-top: 161px; */
}

.blog-writer-portrait{
    width: 32px;
    height: 32px;
    background-image: url(./images/blog-portrait.png);
    background-size: cover;
    background-position: center center;
}

.blog-writer-name{
    font-size: 16px;
    line-height: 32px;
    color: #394149;
    font-weight: 400;
    margin-left: 8px;
}

.blog-writer-date{
    font-size: 16px;
    line-height: 32px;
    color: #394149;
    font-weight: 400;
    margin-left: 24px;
}

.blog-header-img{
    width: 620px;
    height: 493px;
    background-image: url(./images/blog.png);
    border-radius: 20px;
    margin-top: 128px;
}

.blog-header-title{
    color: #1D3444;
    width: 527px;
    letter-spacing: -0.03em;
    margin-top: 24px;
}

.blog-header-descr{
    color: #5B5B5B;
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.blog-posts{
    width: 1280px;
    margin: 128px auto 128px;
}

.blog-side-blog{
    border-radius: 20px;
    width: 400px;
    height: 507px;
    background-color: #EDF7FF;
}

.inner-width{
    width: 752px;
    margin: 0 auto 128px;
}

.inner-cover{
    background-image: url(./images/blog-inner.png);
    height: 631px;
    width: 1280px;
    border-radius: 20px;

    margin: 96px auto 80px;
}

.inner-title{
    margin-top: 24px;
    margin-bottom: 32px;
    color: #1D3444;
}

.inner-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin-top: 24px;
}

.inner-title-sub{
    color: #0D1317;
    margin-top: 48px;
}

.ci-cover{
    width: 1280px;
    margin: 92px auto 128px;
}

.job{
    margin-top: 64px;
}

.job-discr{
    display: flex;
}

.job-discription{
    width: 640px;
    color: #0D1317;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.03em;
    font-weight: 500;
    margin-bottom: 16px;
}

.job-salary{
    color: #0D1317;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.03em;
    font-weight: 500;
    margin-left: 284px;
}

.job-discr-more1{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    width: 640px;
}

.job-discr-more2{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-left: 284px;
}

.job-detail{
    margin-top: 64px;
    width: 1280px;
    height: 370px;
    background-color: #C1E4FF4D;
    border-radius: 20px;
    border: none;
    padding-top: 68px;
    margin-bottom: 128px;
}

.job-detail1{
    display: flex;
}

.job-discr-bold1{
    font-weight: 600;
    font-size: 24px;
    color: #F58A07;
    width: 250px;
    margin-left: 68px;
    margin-right: 26px;
}

.job-discr-small{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    width: 842px;
    margin-bottom: 20px;
}

.job-req{
    display: flex;
}

.job-discr-bold2{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    width: 250px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-left: 68px;
    margin-right: 26px;
    /* margin-top: 16px; */
}

.job-res{
    display: flex;
}

.job-apply{
    margin-bottom: 51px;
}

.job-box{
    display: flex;
    gap: 24px;
}

.job-box-small{
    width: 628px;
    background-color: #D2DAED2B;
    border-radius: 27px;
    border: none;
    margin-bottom: 24px;

    color: #9C9C9C;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    padding-left: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
    }

.job-box-big{
    height: 215px;
    background-color: #D2DAED2B;
    border-radius: 27px;
    border:none;
    margin-bottom: 32px;

    color: #9C9C9C;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    padding-left: 32px;
    padding-top: 18px;
}


